<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @event.visibility %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @event.registration %>
</p>

<p>
  <strong>Reminders:</strong>
  <%= @event.reminders %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
